<div class="col-md-12">
  <div class="row">
    <div class="card mb-4">
      <div
        class="card-body"
        [ngClass]="{
          noProdaval: !mobileObj.isAvailable
        }"
      >
        <div class="row">
          <div class="col-md-4">
            <div class="img-container">
              <img
                *ngIf="mobileObj.image; else noImage"
                [src]="mobileObj.image"
                [alt]="mobileObj.name"
                class="w-100"
              />
              <ng-template #noImage>
                <p class="noImageText">No Img</p>
              </ng-template>
              <div class="d-flex justify-content-between mt-1">
                <button
                  [disabled]="!mobileObj.isAvailable"
                  class="btn btn-sm btn-primary"
                >
                  Add To Cart
                </button>
                <button
                  [disabled]="!mobileObj.isAvailable"
                  class="btn btn-sm btn-warning"
                >
                  Buy Now
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h2>
              {{ mobileObj.name }}
              <small
                class="badge"
                [ngClass]="{
                  'badge-success': mobileObj.rating >= 4,
                  'badge-warning':
                    mobileObj.rating >= 3 && mobileObj.rating < 4,
                  'badge-danger': mobileObj.rating < 3
                }"
              >
              {{mobileObj.rating}}
              </small>
            </h2>
            <h5>Features</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let feature of mobileObj.features">
                     {{feature}}
                </li>
            </ul>
          </div>
          <div class="col-md-2">
            <h3>
                {{mobileObj.price - mobileObj.price * 0.15 | currency:'INR'}}
                <br/>
                <del>{{mobileObj.price |currency:'INR'}}</del>
                
            </h3>
            <strong class="text-success" *ngIf="mobileObj.noOfItems < 10">
                Only {{mobileObj.noOfItems}} is left..!
            </strong>
          </div>
        </div>
      </div>
      <p class="text-danger isNotAvaible" *ngIf="mobileObj && !mobileObj.isAvailable">
        Product is Not avaible...!
      </p>
    </div>
  </div>
</div>
